<p>{{ site.email | default: "<em>[lastname]</em>@gatech.edu" }}</p>

<p>(he/him)</p>

<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="https://scholar.google.com/citations?hl=en&user=KqkXmkYAAAAJ"><i class="fas fa-user-graduate"></i> Google Scholar</a></li>
      <li><a href="https://github.com/fab1ano"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://twitter.com/fab1ano_"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/fabian-fleischer/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    </ul>
  </div>
