---
---

@import "minimalist";

@media print, screen and (max-width: 960px) {
  header {
    padding-right:0px;
  }

  .img-circle {
    display:inline !important;
    width:120px;
  }

  .sidebar {
    text-align:center;
  }
}

header p:first-of-type {
  margin-bottom:5px;
}

.img-circle {
  border-radius:8px;
}

section {
  h2 {
    margin-top:50px;
    margin-bottom:10px;
  }
  h3 {
    margin-top:20px;
    margin-bottom:8px;
  }
}
